---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Github -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-8415782447876244"
       data-ad-slot="5011470419"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <article class="post-content">
    {{ content }}
  </article>


</div>
