---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-8415782447876244"
       data-ad-slot="5011470419"
       data-ad-format="auto"></ins>

  <article class="post-content">
    {{ content }}
  </article>

</div>
